.container {
    width: 100px;
    height: 100px;
    perspective: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
}

.cubo {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    position: relative;
}

.cubo>* {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: background-color 0.3s;
}

.cubo.active * {
    background: linear-gradient(180deg, #96cbf7 0, #96cbf7 130%);

}

.frente {
    background: linear-gradient(180deg, #96cbf7 0, #5090c5 130%);
    transform: rotateX(0) translateZ(50px);
}

.tras {
    background: linear-gradient(180deg, #96cbf7 0, #5090c5 130%);
    transform: rotateX(180deg) translateZ(50px);
}

.direita {
    background: linear-gradient(180deg, #96cbf7 0, #5090c5 130%);
    transform: rotateY(90deg) translateZ(50px);
}

.esquerda {
    background: linear-gradient(180deg, #96cbf7 0, #5090c5 130%);
    transform: rotateY(-90deg) translateZ(50px);
}

.cima {
    transform: rotateX(90deg) translateZ(50px);
    background: linear-gradient(180deg, #96cbf7 0, #96cbf7 130%);
}

.baixo {
    transform: rotateX(-90deg) translateZ(50px);
    background: radial-gradient(#4376b1, #5090c5);

}

.cubo svg{
    width:30%;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    user-select: none;
    fill:#584ad4;
}

#svg-estrela{
    width:35%;
}